#output
build/*

#Qt
*.moc
moc_*.cpp
ui_*.h
qrc_*.cpp
*resource.rc
moc_predefs.h
*qmake.stash

#Visual Studio
*.user
*.suo
*.sdf
*.opensdf
*.ipch
*.ilk
*.pdb
*.ncb
*.tlog
*.log
*.obj
*.manifest
*.lastbuildstate
*.unsuccessfulbuild
*.aps
*.exp
*.o
*.vc.db*
*.vc.opendb
projectfiles/vs/.vs/*


build
lib
bin
